# Copy this file and rename it to .env. Then, fill in the necessary values for your specific use case.
# Remember to never share your .env file with anyone else as it may contain sensitive information.

# This attribute is used for authentication. If you input a key here, it will be validated for authentication purposes.
# It will be prompted to enter your key when you open the extension. If the authentication fails, all your requests will be rejected.
IIB_SECRET_KEY=

# Configuring the server-side language for this extension,
# including the tab title and most of the server-side error messages returned. Options are 'zh', 'en', or 'auto'.
# If you want to configure the language for the front-end pages, please set it on the extension's global settings page.
IIB_SERVER_LANG=auto

# Used for configuring whether to enable access control to the file system. 
# If enabled, only access to the provided pre-set folders (including those provided by sd-webui and manually added to Quick Move) will be allowed. 
# The optional choices are 'enable', 'disable', and 'auto'.  
# The default value is 'auto', which will be determined based on the command-line parameters used to start sd-webui.
IIB_ACCESS_CONTROL=auto
