$primary-color: #1890ff;
$danger-color: #fa114f;
$info-color: #17a2b8;
$success-color: #28a745;
:root {
  // ganymede的
  --grey-13: #000000;
  --grey-12: #141414;
  --grey-11: #1f1f1f;
  --grey-10: #262626;
  --grey-9: #434343;
  --grey-8: #595959;
  --grey-7: #8c8c8c;
  --grey-6: #bfbfbf;
  --grey-5: #d9d9d9;
  --grey-4: #f0f0f0;
  --grey-3: #f5f5f5;
  --grey-2: #fafafa;
  --grey-1: #fff;
  --xcf-color: #{$primary-color};
  --primary-color: #{$primary-color};
  --danger-color: #{$danger-color};
  --info-color: #{$info-color};
  --success-color: #{$success-color};
  // css变量尝试了没办法直接for
  --primary-color-1: #{$primary-color}11;
  --primary-color-2: #{$primary-color}22;
  --primary-color-3: #{$primary-color}33;
  --primary-color-4: #{$primary-color}44;
  --primary-color-5: #{$primary-color}55;
  --primary-color-6: #{$primary-color}66;
  --primary-color-7: #{$primary-color}77;
  --primary-color-8: #{$primary-color}88;
  --primary-color-9: #{$primary-color}99;
  --primary-color-a: #{$primary-color}aa;
  --primary-color-b: #{$primary-color}bb;
  --primary-color-c: #{$primary-color}cc;
  --primary-color-d: #{$primary-color}dd;
  --primary-color-e: #{$primary-color}ee;
  --primary-color-f: #{$primary-color}ff;
  --light-border-color: var(--grey-5);
  --main-text-color: var(--grey-11);
  --main-bg-color: var(--grey-3);

  // 新的xdt
  --xdt-black: #222222;
  --xdt-grey96: #2b2b2b;
  --xdt-grey90: #383838;
  --xdt-grey80: #4e4e4e;
  --xdt-grey70: #646464;
  --xdt-grey60: #7a7a7a;
  --xdt-grey50: #909090;
  --xdt-grey40: #a7a7a7;
  --xdt-grey30: #bdbdbd;
  --xdt-grey20: #d3d3d3;
  --xdt-grey10: #e9e9e9;
  --xdt-grey7: #f0f0f0;
  --xdt-grey4: #f6f6f6;
  --xdt-white: #ffffff;

  // 主要内容颜色
  --xdt-primary: var(--xdt-black);
  --xdt-secondary: var(--xdt-grey50);
  --xdt-tertiary: var(--xdt-grey30);
  // 背景颜色
  --xdt-primary-background: var(--xdt-white);
  --xdt-secondary-background: var(--xdt-grey4);
  --xdt-tertiary-background: var(--xdt-white);
  --xdt-secondary-variant-background: var(--xdt-grey7);
  // 边框颜色
  --xdt-border: var(--xdt-grey4);
  @media (prefers-color-scheme: dark) {
    --xdt-primary: var(--xdt-grey20);
    --xdt-secondary: var(--xdt-grey60);
    --xdt-tertiary: var(--xdt-grey70);
    --xdt-primary-background: var(--xdt-black);
    --xdt-secondary-background: var(--xdt-grey96);
    --xdt-secondary-variant-background: var(--xdt-grey90);
    --xdt-tertiary-background: var(--xdt-grey4);
    --xdt-border: var(--xdt-grey96);

  }
}

.flex-placeholder,
[flex-placeholder] {
  flex: 1;
}

html {
  position: relative;
  display: inline-block;
  width: 100%;
  --scroll-container-max-height: 100vh;
}

body {
  position: absolute;
  width: 100%;
  ::-webkit-scrollbar {
    width: 10px; // 滚动条宽度
    background-color: var(--xdt-secondary-variant-background); // 滚动条背景颜色
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--xdt-secondary); // 滚动条拖动块颜色
    border-radius: 5px; // 滚动条拖动块圆角
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #1453ad; // 滚动条拖动块悬停颜色
  }

  ::-webkit-scrollbar-track {
    background-color: var(--xdt-secondary-variant-background); // 滚动条轨道颜色
  }

  ::-webkit-scrollbar-track:hover {
    background-color: var(--xdt-secondary-background); // 滚动条轨道悬停颜色
  }
  background: var(--xdt-primary-background);
  color: var(--xdt-primary);
}
